@* @model comic.Models.Product *@
@model comic.Models.Product

@{
    ViewData["Title"] = "Delete product";

    Layout = "_AdminLayout";
}

@section Link {
    <link rel="stylesheet" href="~/css/admin/delete-product.css" asp-append-version="true"/>
}

<div class="main-content-wrapper">
    <div class="route-nav-wrapper">
        <div class="route-nav">
            <a class="route" href="/">
                FPT Book
            </a>
            <div class="sub-route-layout">
                <span>
                    <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="none"
                        shape-rendering="geometricPrecision">
                        <path d="M16 3.549L7.12 20.600"></path>
                    </svg>
                </span>
                <a
                    class="route"
                    href="/">
                    Admin
                </a>
            </div>
            <div class="sub-route-layout">
                <span>
                    <svg
                        viewBox="0 0 24 24"
                        width="16"
                        height="16"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="none"
                        shape-rendering="geometricPrecision">
                        <path d="M16 3.549L7.12 20.600"></path>
                    </svg>
                </span>
                <a
                    class="route"
                    href="/">
                    Delete Product
                </a>
            </div>
        </div>
    </div>

    <div></div>

    <div class="main-content">
        <form class="form-action" asp-action="Delete">
            <input type="hidden" asp-for="ProductId" />
            <div class="form-action-text">
                <h4>Delete product @Model.ProductId</h4>
            </div>
            <div class="submit-form-group">
                <button class="submit-form" type="submit">Delete Product</button>
            </div>
        </form>

        <div class="form-group">
            <div class="first-column">
                <div class="card">
                    <div class="card-header">
                        <h5>Product information</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body-row">
                            <label for="name">Name</label>
                            <input id="name" class="input" placeholder="Product title" disabled="disabled" value="@Model.Name"/>
                        </div>
                        <div class="card-body-row-mul">
                            <div>
                                <label for="price">Price</label>
                                <input
                                    id="price"
                                    type="number"
                                    step="any"
                                    class="input" required="required" disabled="disabled" value="@Model.Price"/>
                            </div>
                            <div>
                                <label for="quantity">Quantity</label>
                                <input
                                    min="1"
                                    max="999"
                                    id="quantity"
                                    type="number"
                                    class="input" required="required" disabled="disabled" value="@Model.Inventory"/>
                            </div>
                        </div>
                        <div class="card-body-row-mul">
                            <div>
                                <label for="publisher">Publisher</label>
                                <input
                                    id="publisher"
                                    class="input" required="required" disabled="disabled" value="@Model.Publisher.PublisherName"/>
                            </div>
                            <div>
                                <label for="store_owner">Store Owner</label>
                                <input
                                    id="store_owner"
                                    class="input" required="required" disabled="disabled" value="@Model.StoreOwner.FullName"/>
                            </div>
                        </div>
                        <div class="card-body-row">
                            <label for="description">
                                Description (Optional)
                            </label>
                            <textarea 
                                class="description"
                                id="description"
                                asp-for="Description"
                                disabled="disabled"
                                placeholder="Product Description"
                            >@Model.Description</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}