@model IEnumerable<comic.Models.Product>

@{
    ViewData["Title"] = "Manage Products";

    Layout = "_AdminLayout";
}

@section Link {
    <link rel="stylesheet" href="~/css/admin/product-dashboard.css" asp-append-version="true"/>
}

@section Script {
    <script type="text/javascript" src="~/js/admin/delete-product.js" defer></script>
}

<div class="main-content-wrapper">
<div class="route-nav-wrapper">
    <div class="route-nav">
        <a class="route" href="/">
            FPT Book
        </a>
        <div class="sub-route-layout">
            <span>
                <svg
                    viewBox="0 0 24 24"
                    width="16"
                    height="16"
                    stroke="currentColor"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="none"
                    shape-rendering="geometricPrecision">
                    <path d="M16 3.549L7.12 20.600"></path>
                </svg>
            </span>
            <a
                class="route"
                href="/">
                Manage Products
            </a>
        </div>
    </div>
</div>
<div class="main-content">
<div class="inner-main-content">
<div>
<div class="action-section-wrapper">
    <div class="action-section">
        <div class="search-section">
            <div class="search-input">
                <input type="text" placeholder="Search"/>
                <span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line
                            x1="21"
                            y1="21"
                            x2="16.65"
                            y2="16.65">
                        </line>
                    </svg>
                </span>
            </div>
        </div>
        <div class="action-button-group">
            <a asp-action="Create" asp-controller="ManageProducts">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    style="display: block; vertical-align: middle">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
                <span style="margin-left: 8px">
                    Add new product
                </span>
            </a>
        </div>
    </div>
</div>
<section class="table-layout-wrapper">
    <div class="table-layout">
        <table class="table">
            <thead>
            <tr>
                <th class="table-column-name">
                    ID
                </th>
                <th class="table-column-name">
                    Title
                </th>
                <th class="table-column-name">
                    Publisher
                </th>
                <th class="table-column-name">
                    Description
                </th>
                <th class="table-column-name">
                    Price
                </th>
                <th class="table-column-name">
                    Quantity
                </th>
                <th class="table-column-name">
                    Store Owner
                </th>
                <th class="table-column-name">
                    State
                </th>
                <th class="table-column-name">
                    Created At
                </th>
                <th class="table-column-name"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="table-value">
                        <span>@product.ProductId</span>
                    </td>
                    <td class="table-value" style="max-width: 200px">
                        <span>@product.Name</span>
                    </td>
                    <td class="table-value">
                        <span>@product.Publisher.PublisherName</span>
                    </td>
                    <td class="table-value">
                        <div class="description">
                            <span class="status">
                                View
                            </span>
                            @if (@product.Description != "")
                            {
                                <div class="description-panel">@product.Description</div>
                            }
                            else
                            {
                                <div class="description-panel">There is no description currently.</div>
                            }
                        </div>
                    </td>
                    <td class="table-value">
                        <span>$@product.Price</span>
                    </td>
                    <td class="table-value">
                        <span>@product.Inventory</span>
                    </td>
                    <td class="table-value">
                        <div>
                            <span>@product.StoreOwner.UserName</span>
                        </div>
                    </td>
                    <td class="table-value">
                        <span
                            class="status"
                            data-status="0">
                            Active
                        </span>
                    </td>
                    <td
                        class="table-value"
                        style="width: 170px">
                        <div>
                            <span>@product.CreatedAt.ToString("MMMM d, yyyy")</span>
                        </div>
                    </td>
                    <td class="table-value" style="width: 200px">
                        <div class="view">
                            <button data-open="false" data-product-id="@product.ProductId">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="14"
                                    height="14"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                </svg>
                            </button>
                            <a asp-action="Edit" asp-route-id="@product.ProductId">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="14"
                                    height="14"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M12 20h9"></path>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                </svg>
                            </a>
                            <a href="/" target="_blank">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="14"
                                    height="14"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path
                                        d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18">
                                    </path>
                                </svg>
                            </a>
                            <div class="modal" data-product-id="@product.ProductId"
                                 style="display: none">
                                <div class="back-drop"></div>

                                <div class="modal-layout">
                                    <div class="modal-card">
                                        <div class="modal-head">Delete conformation</div>
                                        <div class="modal-body">
                                            <form method="post" asp-action="Delete" asp-controller="ManageProducts" asp-route-id="@product.ProductId">
                                                <div class="form">
                                                    <div style="display: flex">
                                                        <p style="width: 150px">Product ID: </p>
                                                        <span>@product.ProductId</span>
                                                    </div>
                                                    <div style="display:flex">
                                                        <p style="width: 150px">Product Name: </p>
                                                        <span style="max-width: calc(100% - 150px)">@product.Name</span>
                                                    </div>
                                                    <div style="display:flex">
                                                        <p style="width: 150px">Category: </p>
                                                        <span>@String.Join("", product.Category?.CategoryName.Substring(0, 1).ToUpper(), product.Category?.CategoryName.Substring(1))</span>
                                                    </div>
                                                    <div style="display:flex">
                                                        <p style="width: 150px">Publisher: </p>
                                                        <span>@product.Publisher.PublisherName</span>
                                                    </div>
                                                    <div style="display:flex">
                                                        <p style="width: 150px">Store owner: </p>
                                                        <span>@product.StoreOwner.UserName</span>
                                                    </div>
                                                </div>
                                                <div class="submit-delete">
                                                    <button type="button" class="cancel-button">
                                                        <span>Cancel</span>
                                                    </button>
                                                    <button type="submit" class="delete-button">
                                                        <span>Delete</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>
</div>
</div>
</div>
</div>